$Primary-1:    #FE4B1A !default;
$Primary-2: #0B478E !default;
$Black: #002E4E !default;
$White: #FFFFFF !default;

$Primary-450: #FE4B1A;
$Primary-700: #0B478E;

$Secondary-150: #E4D9CD;
$Secondary-450: #AF8D6A;
$Secondary-600: #856647;

$Natural-0: #FFFFFF;
$Natural-50: #F0F3F5;
$Natural-100: #E0E5EB;
$Natural-150: #D1D9E1;
$Natural-250: #B2BFCC;
$Natural-400: #8599AD;
$Natural-500: #667F99;
$Natural-650: #47596B;
$Natural-850: #002E4E;

$Alpha-black: #000, 0.5;
$Alpha-white: #FFF, 0.4;
